<ion-header>
  <ion-toolbar>
    <ion-title>Selecciona una figura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Figura</ion-label>
    <ion-select [(ngModel)]="figura">
      <ion-select-option value="circulo">Círculo</ion-select-option>
      <ion-select-option value="triangulo">Triángulo Escaleno</ion-select-option>
    </ion-select>
  </ion-item>

  <ng-container *ngIf="figura === 'circulo'">
    <app-circulo></app-circulo>
  </ng-container>

  <ng-container *ngIf="figura === 'triangulo'">
    <app-triangulo></app-triangulo>
  </ng-container>
</ion-content>
